%h1 Move task
= form_for(@task, url:{action:'move_task'}, :html => { class: "form-horizontal"} ) do |f|
  - if @task.errors.any?
    #error_explanation
      %h2
        = pluralize(@task.errors.count, "error")
        prohibited this task from being saved:
      %ul
        - @task.errors.full_messages.each do |message|
          %li= message
  .col-sm-6.col-sm-offset-3
    .panel.panel-primary
      .panel-heading
        .row
          .col-xs-7.col-sm-10.col-md-7
            %h3.panel-title Move task
      .panel-body
        .form-group
          %label.col-sm-2.control-label{:for => "txtNameList"} ID
          .col-sm-4
            %label.control-label.text-danger{:for => "txtNameList"}= @task.id
          %label.col-sm-2.control-label{:for => "txtNameList"} Name
          .col-sm-4
            %label.control-label.text-danger{:for => "txtNameList"}= @task.name
        .form-group
          %label.col-sm-2.control-label{:for => "txtNameList"} Description
          .col-sm-10
            %label.control-label.text-danger{:for => "txtNameList"}= @task.description
        .form-group
          %label.col-sm-2.control-label{:for => "txtNameList"} Hidden
          .col-sm-10
            %label.control-label.text-danger{:for => "txtNameList"}= @task.hidden ? "true" : "false"
        = f.text_field :id , class: "form-control hidden"
        .form-group
          %label.col-sm-2.control-label{:for => "txtNameList"} From list
          .col-sm-10
            = collection_select(:task, :list_id, @lists, :id, :format_name_list ,  {:prompt=>true}, {class: "form-control", disabled: "disabled"})
        .form-group
          %label.col-sm-2.control-label{:for => "txtNameList"} To list
          .col-sm-10
            = collection_select(:task, :list_id, @lists, :id, :format_name_list ,  {:prompt=>true}, {class: "form-control"})
      .panel-footer
        = f.submit class: "btn btn-primary", value: "Move task"
